<h1> Edit Profile</h1>

<%= form_for @user do |f|%>
    <section class="left"> <%= f.label 'Name'%> </section>
   <section class="right"> <%= f.text_field :name %> </section>
    <section class="left"> <%= f.label 'Username'%> </section>
   <section class="right">  <%= f.text_field :user_name %> </section>
   <section class="left">  <%= f.label 'Password'%> </section>
   <section class="right">  <%= f.password_field :password_digest %> </section>
   <section class="left">  <%= f.label 'Location'%> </section>
    <section class="right"> <%= f.text_field :location %></section>
    <%= f.submit 'Update Account', id: "submit" %>
<% end %>