<h1><%= @user.name %>'s Profile</h1>
<%= link_to 'Feed', posts_path %> <br>

<% if @user.id == current_user.id %>
    <%= link_to 'Edit User', edit_user_path %> <br>
<% end %>
<%= link_to 'View Likes', user_likes_path(@user) %><br>
<%= button_to "Logout", '/logout', method: :post %>

<% if @user == current_user %>
<p><%= @user.user_name %></p>
<hr>
<%= form_tag ({controller: 'posts',
    action: 'create',
    method: 'post'}) do %>
   <%= label_tag "What's the buzz?"%> <br>
   <%= text_area_tag :content %> <br>
   <%= submit_tag "Submit"%>
<% end %>
<hr>
<%end %>
<% @user.posts.feed_order.each do |post| %>
    <p><%= post.content %></p>
    <p><%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y, %l:%M %p") %> 

    <%= form_tag ({controller: 'likes',
        action: 'add_like',
        method: 'post'}) do %>
        <input type=hidden name=post_id value="<%= post.id %>">
        <input type=hidden name=user_id value="<%= post.user_id %>">
        <input type=submit value='Like'>
    <% end %>

    Likes: <%= post.likes.count%>
    <br>

    <% if @user.id == current_user.id %>
       <%= link_to 'Edit Post', edit_post_path(post) %>
       <%= button_to 'Delete post', post_path(post), method: :delete %>
    <% end %>
<hr>
<% end %>