<h1><%= @user.name %>'s Profile</h1>
<%= link_to 'Feed', posts_path %> <br>
<%= link_to 'Edit User', edit_user_path%> <br>
<%= link_to 'Create New Post', new_post_path %><br>
<%= link_to 'View Likes', user_likes_path(@user) %><br>
<%= button_to "Logout", '/logout', method: :post %>

<p><%= @user.user_name %></p>

<br>


<% @user.posts.feed_order.each do |post| %>
    <p><%= post.content %></p>
    <p><%=post.created_at.strftime("%A, %B %d, %Y, %l:%M %p, %:z") %></p>
    <%= form_tag ({controller: 'likes',
        action: 'toggle_like',
        method: 'post'}) do %>
        <input type=hidden name=post_id value="<%= post.id %>">
        <input type=hidden name=user_id value="<%= post.user_id %>">
        <input type=submit value='ðŸ'>
    <% end %>
    Likes: <%= post.likes.count%>
    <br>
    <p><%= link_to 'Edit Post', edit_post_path(post) %></p>
    <p> <%= button_to 'Delete post', post_path(post), method: :delete %></p>

<% end %>