<h1 id="feed-title">Buzz Feed</h1>


    <%= form_tag ({controller: 'posts',
        action: 'create',
        method: 'post'}), :id => "create-buzz" do %>
    <p id="buzz-prompt">Stir the honey pot...</p>
    <%= text_area_tag :content %> 
    <%= submit_tag "Buzz it up", :id => "submit"%>
    <% end %>
    <hr>


<% @posts.feed_order.each do |post|%>
    <div class="post-container">
    <section class="user-name"><%= link_to "@#{post.user.user_name}", user_path(post.user_id), class: "user-link" %> </section>

    <section class="post-content"><%=post.content%></section>

    <div class="time-likes-container">
        <section class="time-posted"><%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime("%A, %B %d, %Y, %l:%M %p") %> </section>
        <section class="bee-button-likes">
            <%= post.likes.count%>
            <%= form_tag ({controller: 'likes',
                action: 'toggle_like',
                method: 'post'}) do %>
                    <input type=hidden name=post_id value="<%= post.id %>">
                    <input type=hidden name=user_id value="<%= post.user_id %>">
                    <input type=submit value='ðŸ'>
            <% end %>

        </section>
    </div>
    </div>
<%end%>
<%= link_to 'My Profile', user_path(current_user) %>