<h1>Feed</h1>
<hr>
<% @posts.feed_order.each do |post|%>
    <p><%=post.content%></p>
    <p><%=post.created_at.strftime("%A, %B %d, %Y") %></p>
    <p><%= link_to post.user.user_name, user_path(post.user_id) %></p>

    <p>Total Likes: <%= post.likes.count %></p>
    <%= link_to 'Like', user_post_likes_path(post), method: :post %>
    <hr>
<%end%>