<h1>New Post</h1>

<%= form_for @post do |f| %>
    <%= f.label 'Write your text here' %><br>
    <%= f.text_area :content %><br>
    <%= f.label 'User' %>
    <%= f.collection_select :user_id, @users, :id, :user_name %><br>
    <%= f.submit %>
<% end %>