<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Hive</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= stylesheet_link_tag 'login' %>
    </head>

    <body>
        <main>
        <h1>Login</h1>
            <%= form_tag '/login' do %>
            <%= label_tag :user_name%>
            <%= text_field_tag :user_name %>
            <%= label_tag :password%>
            <%= password_field_tag :password%>
            <%= submit_tag "Login"%>
        <%end%>
        </main>
        <footer>
            <p>Made by Hannah and Aleksa :)</p>
        </footer>
    </body>
</html>